.main-container{
    width: 100%;
}

.select-field{
    width: 1000px;
    margin: 20px auto;
    padding: 10px;
}

.input-road{
    background-color: #ddd;
    border-radius: 10px;
    padding: 10px;
}

.input-road form{
    display: flex;
    flex-direction: column;
}

